<%= render 'header' %>

<div  class="py-2 px-5 mb-4 bg-green-100 text-green-900 text-sm rounded-md border border-green-200" role="alert">
    <p class="notice text-center"><%= notice %></p>
</div>
<br />

<div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl font-bold"><%= current_trader.fullname %></h1>
    <h1 class="text-base"><%= "(#{current_trader.username})" %></h1> <br />
    <div class="flex gap-12 flex-wrap sm:flex-col costom:flex-col md:flex-col">
        <div class="text-white max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-bl from-slate-900 via-purple-900 to-slate-900">
            <div class="px-6 py-4">
                <div class="flex justify-between">
                    <div class="flex">
                        <div class="font-bold text-xl mb-2"><%= image_tag("logo.jpg", {:style => "width:40px;"}) %></div>&nbsp;&nbsp;
                        <div class="text-2xl font-bold">
                            i<span class="text-indigo-800">S</span><span class="text-orange-600">tack</span>
                        </div>
                    </div>
                    <div>
                        <%= image_tag("peso.jpg", {:style => "width:50px;"}) %>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center px-24">
                    <span class="text-3xl"><%= number_to_currency(@trader.balance, precision: 2, unit: "₱") %></span><br /><br />
                    <p class="text-base font-bold">BALANCE(PHP)</p>
                </div>
            </div>
        </div>
        <div class="text-white max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-bl from-slate-900 via-purple-900 to-slate-900">
            <div class="px-6 py-4">
                <div class="flex justify-between">
                    <div class="flex">
                        <div class="font-bold text-xl mb-2"><%= image_tag("logo.jpg", {:style => "width:40px;"}) %></div>&nbsp;&nbsp;
                        <div class="text-2xl font-bold">
                            i<span class="text-indigo-800">S</span><span class="text-orange-600">tack</span>
                        </div>
                    </div>
                    <div>
                        <%= image_tag("peso.jpg", {:style => "width:50px;"}) %>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center px-24">
                    <span class="text-3xl"><%=  number_to_currency(@total, precision: 2, unit: "₱") %></span><br /><br />
                    <p class="text-base font-bold">TOTAL REVENUE</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="bg-white pb-4 px-8 rounded-md w-full">
    <h1 class="text-2xl font-bold text-violet-600">Account Information (portfolio)</h1>
    <div class="overflow-x-auto mt-6">
        <table class="table-auto border-collapse w-full">
            <thead>
            <tr class="rounded-lg text-white text-sm font-medium text-left bg-gradient-to-bl from-gray-900 via-purple-900 to-violet-600" style="font-size: 0.9674rem">
                <th class="px-4 py-2">company</th>
                <th class="px-4 py-2">name</th>
                <th class="px-4 py-2 ">symbol</th>
                <th class="px-4 py-2 ">units</th>
                <th class="px-4 py-2 ">total revenue</th>
                <th class="px-4 py-2 ">action</th>
                
            </tr>
            </thead>
            <tbody class="text-sm font-normal text-gray-700">
            <% @portfolios.each do |p| %>
                <tr class="hover:bg-gray-100  border-gray-200">
                    <td class="px-4 py-4"><%= image_tag "https://storage.googleapis.com/iex/api/logos/#{p.market_symbol}.png", alt: 'no image available', style: 'width:80px;' %></td> 
                    <td class="px-4 py-4"><%= get_market_name(p.market_symbol) %></td> 
                    <td class="px-4 py-4"><%= p.market_symbol %></td> 
                    <td class="px-4 py-4"><%= p.unit %></td>  
                    <td class="px-4 py-4"><%= number_to_currency(p.revenue, precision: 2, unit: "₱ ") %></td>
                    <td class="px-4 py-4 font-bold"><%= link_to 'Sell', sell_portoflio_path(p.id) %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
</div>

