<div class="flex flex-col justify-center items-center mt-5 mb-5">
    <div class="bg-blue-200 w-1/3 p-5 rounded-xl mb-5">
        <p class="lg:text-xl"> <span class="font-bold">UserName: </span><%=@trader.username%></p>
        <p class="lg:text-xl"> <span class="font-bold">Email: </span><%=@trader.email%></p>
        <p class="lg:text-xl"> <span class="font-bold">FullName: </span><%=@trader.fullname%></p>
        <p class="lg:text-xl"> <span class="font-bold">Balance: </span>₱<%=@trader.wallet.balance.round(2)%></p>
        <%= link_to 'edit', admin_edit_trader_path(id:@trader.id), class:"text-blue-500 font-bold"%>
    </div>
    <%= link_to '--Back', '/admin/dashboard', class:"mb-5 italic" %>
    
    <div class="bg-white pb-4 px-8 rounded-md w-full">
    <div class="overflow-x-auto mt-6">
        <h1 class="text-3xl font-bold text-violet-600 pb-1">Transaction History</h1>
        <table class="table-auto border-collapse w-full">
            <thead>
            <tr class="rounded-lg text-white text-sm font-medium text-left bg-gradient-to-bl from-gray-900 via-purple-900 to-violet-600" style="font-size: 0.9674rem">
                <th class="px-4 py-2 ">symbol</th>
                <th class="px-4 py-2 ">amount</th>
                <th class="px-4 py-2 ">unit</th>
                <th class="px-4 py-2 ">transaction type</th>
                <th class="px-4 py-2 ">date</th>
                
            </tr>
            </thead>
            <tbody class="text-sm font-normal text-gray-700">
            <% @transactions.each do |t| %>
                <tr class="hover:bg-gray-100  border-gray-200">
                    <td class="px-4 py-4"><%= t.market_symbol %></td> 
                    <td class="px-4 py-4">₱<%= t.revenue %></td> 
                    <td class="px-4 py-4"><%= t.unit %></td> 
                    <td class="px-4 py-4"><%= t.transaction_type %></td> 
                    <td class="px-4 py-4"><%= t.created_at.strftime('%a %d %b %Y') %></td> 
                    
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>


</div>
